body {
  text-align: center;
}

#principal {
 display: block;
 width: 500px;
 margin: 50px auto;
 padding: 15px;
 text-align: center;
 border: 1px solid #999999;
 background: #DDDDDD;

 -moz-transition: -moz-transform 1s ease-in-out 0.5s;
 -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
 }

#principal:hover{
 -moz-transform: rotate(5deg);
 -webkit-transform: rotate(5deg);
}

#titulo {
  font: bold 36px MiNuevaFuente, verdana, sans-serif;
  text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
  color: hsla(120, 100%, 50%, 0.5);
} 
@font-face {
  font-family: 'MiNuevaFuente';
  src: url('font.ttf');
} 