{{#listadoHoteles.length}}
{{#listadoHoteles}}
<section>
    <article class='hoteles'>
        <ul class='hotel'>
            <li>
                <!--<img src="img/hoteles_rio_othon.jpg" alt="imagen del hotel">-->
                <h3>{{name}}</h3>
                <a style="padding:2px; padding-left:80px" class='star' href="#"></a>
                <p>{{adress}}</p>
                <a href="#">Ver mapa</a>
            </li>
        </ul>
        <ul class='precio'>
            <li>
                <span>Desde</span>
                <p>{{price}}</p>
                <a href="#">Ver disponibilidad</a>
            </li>
        </ul>
        <ul class='comentarios'>
            <li>
                <span>{{description}}</span>
                <p>{{rating}} puntos</p>
                <a href="#">{{comments}} comentarios</a>
            </li>
        </ul>
        <div class="cleaner"></div>
    </article>
    
</section>
{{/listadoHoteles}}
{{/listadoHoteles.length}}