body {
	font-family: Arial, Helvetica, sans-serif;
}

input {
	border: 1px #888 solid;
}

#formRegistro {
	width: 500px;
	border: 1px #666666 solid;
	background: #eeb;
	padding: 15px;
}

.filaCampo {
	padding: 2px;
	height: 25px;
}

.etiqueta {
	width: 40%;
	float: left;
}

.campo {
	width: 60%;
	float: right;
}


