/**************************
*
*	GENERAL
*
**************************/
.camera_container {
	padding-bottom: 33.91812865497076%;
	position: relative;
	margin-bottom: 380px;
}
@media (max-width:479px) {
	.camera_container {padding-bottom: 139px;}
}
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 40px;
	margin-bottom: 0 !important;
}
.camera_wrap img {
	max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
	margin-bottom: 380px;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	behavior: url(js/pie.htc);
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	display: none;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption {
	display: block;
	color: #202020;
	font-weight: 300;
	text-align: left;
	font-size: 100px;
	line-height: 100px;
	text-transform: uppercase;
	background: #fff;
	position: absolute;
	bottom: -365px;
	left: calc(50% - 585px);
}
.camera_caption span {
	color: #3394d5;
}
.camera_caption p {
	font-size: 20px;
	color: #202020;
	opacity: .5;
	text-transform: uppercase;
}
.camera_caption > div {
	padding: 64px 0 80px;
}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_prevThumbs div {
	background: url(../images/camera_skins.png) no-repeat -160px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_nextThumbs div {
	background: url(../images/camera_skins.png) no-repeat -190px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	position: absolute;
	bottom: -270px;
	right: 83px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	behavior: url(js/pie.htc);
	cursor: pointer;
	display: block;
	height: 25px;
	width: 25px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	margin: 10px 0 10px auto;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #202020;
	behavior: url(js/pie.htc);
	border-color: transparent;
	background: #202020;
	height: 15px;
	width: 15px;
	overflow: hidden;
	position: absolute;
	display: block;
}
.camera_pag .camera_pag_ul li.camera_hover > span { 
	border-color: #3394d5
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	width: 15px;
	height: 15px;
	background: #3394d5;
	border-color: #3394d5;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	width: 15px;
	height: 15px;
	box-shadow: 0;
	background: #3394d5;
}
.camera_pag_ul li img {
	display: none;
	position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
	cursor: pointer;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}
.camera_prev {
	left: 0;
}
.camera_prev > span {
	background: url(../images/camera_skins.png) no-repeat 0 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_next {
	right: 0;
}
.camera_next > span {
	background: url(../images/camera_skins.png) no-repeat -40px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_commands {
	right: 41px;
}
.camera_commands > .camera_play {
	background: url(../images/camera_skins.png) no-repeat -80px 0;
	height: 40px;
	width: 40px;
}
.camera_commands > .camera_stop {
	background: url(../images/camera_skins.png) no-repeat -120px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_thumbs_cont {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	behavior: url(js/pie.htc);
	overflow: hidden;
	position: relative;
	width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
.camera_pie { display: none; }
@media only screen and (max-width: 1199px) {
	.camera_container {margin-bottom: 220px;}
	.camera_caption {
		left: calc(50% - 465px);
		font-size: 70px;
		line-height: 70px;
		bottom: -220px;
	}
	.camera_caption > div {padding: 20px 50px}
	.camera_wrap .camera_pag .camera_pag_ul { bottom: -190px;}
}
@media only screen and (max-width: 979px) {
	.camera_caption{
		left: calc(50% - 374px);
		font-size: 40px;
		line-height: 45px;
		bottom: -150px;
	}
	.camera_caption > div {padding: 15px 40px}
	.camera_wrap .camera_pag .camera_pag_ul { margin-top: -120px; }
}
@media only screen and (max-width: 767px) {
	.camera_container {}
	.camera_caption{
		left: calc(50% - 210px);
		font-size: 20px;
		line-height: 25px;
	}
	.camera_caption > div {padding: 10px 20px}
	.camera_wrap .camera_pag .camera_pag_ul { bottom: -60px; }
	.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent,
	.camera_wrap .camera_pag .camera_pag_ul li,
	.camera_wrap .camera_pag .camera_pag_ul li > span,
	.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
		width: 10px;
		height: 10px;
		margin-bottom: 3px;
	}
	.camera_wrap .camera_pag .camera_pag_ul li {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
@media only screen and (max-width: 479px) {
	.camera_container {margin-bottom: 170px;}
	.camera_caption{ left: calc(50% - 150px);}
}
@media only screen and (max-width: 320px) {
	.camera_caption{} 
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	behavior: url(js/pie.htc);
	cursor: pointer;
	display: inline-block;
	height: 25px;
	width: 25px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	margin: 10px 2px 10px auto;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #5b605f;
	behavior: url(js/pie.htc);
	border-color: transparent;
	background: #5b605f;
	height: 19px;
	width: 19px;
	overflow: hidden;
	position: absolute;
	display: block;
}
.camera_pag .camera_pag_ul li.camera_hover > span { 
	border-color: #e74c3c
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	width: 19px;
	height: 19px;
	background: #e74c3c;
	border-color: #e74c3c;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	width: 19px;
	height: 19px;
	box-shadow: 0;
	background: #e74c3c;
}
.camera_caption h3 {
	font-size: 60px;
	line-height: 70px;
	color: #fff;
	margin-bottom: 25px;
	text-align: center;
}
.camera_caption p {
	font-size: 36px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 5%;
}
.camera_caption .bd-ra {
	height: 94px;
	width: 94px;
	line-height: 89px;
	text-align: center;
	background: #dcd6d6;
	font-family: "FontAwesome";
	color: #fff;
	font-size: 60px;
	line-height: 94;
	color: #423e3e;
	margin: 80px 50px 0;
	display: inline-block;
}
.camera_caption .bd-ra span {line-height: 94px;}
.camera_caption .bd-ra:hover {
	background: #e74c3c;
}