p {
     text-align: center;
     font-family: Garamond, serif;
     font-size: 18px;
}

body {
    background-color: none;
}

section {
     border-radius: 5px;
     border: 5px solid #F73913;
     background-color: #F7CAA3;
     height: 450px;
     width: 400px;
     margin: auto;
     text-align: center;
}


#sinCuenta {
     text-align: center;
     padding: 20px;
     margin: auto;
     display: block;
}

#Enviar {
     border-radius: 5px;
     border: 2px solid #6495ED;
     background-color: #BCD2EE;
     height: 25px;
     width: 70px;
     margin: auto;
     text-align: center;
}

header {
     text-align: center;
     padding: 20px;
}

form {
     text-align: center;
     padding: 20px;
}

a {
     text-decoration: none;
     color: #3D59AB;
     font-family: Verdana, sans-serif;
}

input {
     text-align: center;
     display: block;
     margin: auto;
}

