body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	background-color: #EEE;
}

#btnActualizar {
	position: absolute;
	top: 10px;
	right: 10px;
	background: white;
	color: black;
	border: 1px gray solid;	
}

#divTitulo {
	width: 80%;
	text-align: center;
	padding: 15px;	
	font-size: 21px;
	height: 50px;
	background: #FFEEEE;
}

#divItems {
	width: 30%;
	float: left;		
}

#divItems div {
	font-size: 10px;
	text-align: left;
	padding: 10px;	
	cursor: pointer;
	width: 200px;
}
#divItems div:hover {
	color: red;
}
#divItems div.selected {
	background-color: #abcefe;
	color: blue;
	font-weight: bold;
}

#divDetalle {
	width: 500px;
	padding: 25px;
	float: left;
	text-align: justify;
}

#lblTituloItem {
	font-weight: bold;
	font-size: 17px;	
	padding-bottom: 15px;
}

#lblFechaItem {
	padding-top: 15px;		
	text-align: right;
	color: gray;	
}


#divLoading {
	position: absolute;
	top: 50px;
	right: 50%;
	background-color: red;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
}	
