* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 200;
	color: #fff;
}

html {
	font-size: 62.5%;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	font-size: 14px;
	font-size: 1.4rem;

	background-color: #004C66;
}

.centrado {
	position: relative;
  	top: 50%;

  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#contenedor {
	position: absolute;
	top: 0;
	bottom: 0;

	width: 100%;
}

#reclamo, #suscripcion {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

#reclamo {
	top: 0;
}

#suscripcion {
	top: 100%;
}

/* ********************************************************** */
/* *********************    Logotipo    ********************* */
/* ********************************************************** */
#logo {
	margin-top: 30px;
	text-align: center;
}

#logo > img {
	width: 30%;
	max-width: 150px;
	height: auto;
	margin: 0;
}

/* ********************************************************** */
/* ***************   Mensajes de reclamo  ******************* */
/* ********************************************************** */
#reclamo > section {
	position: absolute;
	left: 0;
	right: 0;

	width: 70%;
	margin: 0 auto;
}

.frase {
	font-size: 60px;
	font-size: 6rem;
	text-align: center;

	-webkit-animation: 	fade-in-out 15s infinite;
  	-moz-animation:    	fade-in-out 15s infinite;
  	-o-animation:      	fade-in-out 15s infinite;
	animation: 			fade-in-out 15s infinite;
}

#frase-1 {
	opacity: 1;

	-webkit-animation-delay: 0;
	-moz-animation-delay: 0;
	-o-animation-delay: 0;
	animation-delay: 0;
}

#frase-2 {
	opacity: 0;

	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}

#frase-3 {
	opacity: 0;

	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-o-animation-delay: 10s;
	animation-delay: 10s;
}

@-webkit-keyframes fade-in-out {
  0%, 33%, 100%   { opacity: 0; }
  16% { opacity: 1; }
}

@-moz-keyframes fade-in-out {
  0%, 33%, 100%  { opacity: 0; }
  16% { opacity: 1; }
}

@-o-keyframes fade-in-out {
  0%, 33%, 100%   { opacity: 0; }
  16% { opacity: 1; }
}

@keyframes fade-in-out {
	0%, 33%, 100% { opacity: 0; }
	16% { opacity: 1; }
}

/* ********************************************************** */
/* ***************   Cierre más información ***************** */
/* ********************************************************** */
#mas-info {
	position: absolute;
	bottom: 1%;
	width: 100%;

	text-align: center;
}

#mas-info > p {
	margin: 0;
	font-size: 20px;
	font-size: 2rem;

	-webkit-animation: 	oscilar 3s 2s infinite ease-in-out;
  	-moz-animation:    	oscilar 3s 2s infinite ease-in-out;
  	-o-animation:      	oscilar 3s 2s infinite ease-in-out;
	animation: 			oscilar 3s 2s infinite ease-in-out;
}

#flecha {
	font-size: 50px;
	font-size: 5rem;

	text-decoration: none;
}

@-webkit-keyframes oscilar {
	0%, 16%, 32%, 100%   { margin-bottom: 0; }
	8%, 24% { margin-bottom: 15px; }
}
@-moz-keyframes oscilar {
	0%, 20%, 40%, 100%   { margin-bottom: 0; }
	10%, 30% { margin-bottom: 15px; }
}
@-o-keyframes oscilar {
	0%, 20%, 40%, 100%   { margin-bottom: 0; }
	10%, 30% { margin-bottom: 15px; }
}

@keyframe oscilar {
	0%, 20%, 40%, 100%   { margin-bottom: 0; }
	10%, 30% { margin-bottom: 15px; }
}



/* ********************************************************** */
/* *********************   Suscripción  ********************* */
/* ********************************************************** */
label {
	display: block;
	width: 90%;
	margin: 0 auto 10px;

	font-size: 24px;
	font-size: 2.4rem;
	text-align: center;
}

#mc_embed_signup {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#mce-EMAIL, #mc-embedded-subscribe {
	display: block;

	width: 80%;
	padding: 10px;
	border: 0;
	margin: 0 auto;

	color: #fff;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 200;
}

#mce-EMAIL {
	margin-bottom: 10px;
	text-align: center;

	background-color: #0A2A35;
}

#mce-embedded-subscribe {
	padding: 10px 20px;

	background-color: #0085B2;
}

/* ********************************************************** */
/* ********************* Redes sociales ********************* */
/* ********************************************************** */
#social {
	width: 80%;
	margin: 40px auto 0;

	font-size: 20px;
	font-size: 2rem;
	text-align: center;
}

#agradecimiento {
	opacity: 0;

	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

#agradecimiento.show-you {
	opacity: 1;
}


/* ********************************************************** */
/* ********************* Media Queries  ********************* */
/* ********************************************************** */
@media (max-height: 480px) and (orientation:landscape) {

	#logo > img {
		width: 10%;
	}

}

@media (min-width: 768px) {

	#mce-EMAIL, #mc-embedded-subscribe {
		display: inline-block;
	}

	#mce-EMAIL {
		width: 40%;
		margin-right: 2%;
	}

	#mc-embedded-subscribe {
		width: auto;
		padding: 10px 20px;
	}

}