    <h1> Contacto </h1>
    <p>Puedes contactarnos por las siguientes vías:
    <ul>
    	<li>Postal: Av. Siempre Viva 123</li>
    	<li>Teléfono: 123-54874</li>
    	<li>E-mail: info@midominioajax.com</li>
    </ul>
    </p>
