/*
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	#skel-layers-wrapper {
		padding-top: 44px;
	}

	p {
		line-height: 1.8em;
	}

	header.major h2 {
		font-size: 1.8em;
	}

	header.major .byline {
		font-size: 1.1em;
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		display: block;
		width: 100%;
		max-width: 350px;
		margin: 0em auto;
		font-size: 1em;
		font-weight: 600;
	}

	.wrapper.style2 {
		background: #f2f2f2;
		text-align: center;
	}

		.wrapper.style2 .major {
			text-align: center !important;
		}

			.wrapper.style2 .major h2 {
				font-size: 1.4em;
			}

			.wrapper.style2 .major .byline {
				font-size: 1em;
			}

		.wrapper.style2 h3 {
			font-size: 1.2em;
		}

	.wrapper.style3 .container {
		padding-left: 1em;
		padding-right: 1em;
	}

	.wrapper.style3 p {
		font-size: 1em;
	}

	.wrapper.style4 {
		padding-bottom: 2em;
	}

	.wrapper.style5 {
		padding-bottom: 4em;
	}

		.wrapper.style5 img {
			width: 30%;
		}

/* Header */

	#header {
		display: none;
	}

/* Layers */

	#titleBar {
		background: #000;
		height: 44px;
		line-height: 44px;
	}

		#titleBar .title {
			display: block;
			position: relative;
			letter-spacing: 2px;
			line-height: 44px;
			font-size: 1.3em;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			z-index: 1;
		}

		#titleBar .toggle {
			height: 60px;
			left: 0;
			position: absolute;
			top: 0;
			width: 80px;
			z-index: 2;
		}

			#titleBar .toggle:before {
				content: "\f0c9";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#titleBar .toggle:before {
				background: none;
				color: white;
				display: block;
				height: 44px;
				line-height: 44px;
				text-align: center;
				width: 44px;
			}

			#titleBar .toggle:after {
				background: url("images/toggle.svg") 0px 0px no-repeat;
				content: '';
				display: block;
				height: 13px;
				left: 10px;
				opacity: 0.75;
				position: absolute;
				top: 15px;
				width: 20px;
			}

	#navPanel {
		background: #000;
	}

		#navPanel .link {
			border-top: solid 1px rgba(0, 0, 0, 0.15);
			color: #888;
			display: block;
			height: 44px;
			line-height: 44px;
			padding: 0 1em 0 1em;
			text-decoration: none;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				color: #fff;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2em;
			}

			#navPanel .link .indent-3 {
				display: inline-block;
				width: 3em;
			}

			#navPanel .link .indent-4 {
				display: inline-block;
				width: 4em;
			}

			#navPanel .link .indent-5 {
				display: inline-block;
				width: 5em;
			}

/* Banner */

	#banner {
		padding: 6em 0em 3em 0em;
		text-align: center;
		text-transform: uppercase;
		color: #FFF;
	}

		#banner .container {
			padding: 0em 1em;
		}

		#banner h2 {
			padding: 0.50em 0.50em;
			font-size: 1.8em;
		}

		#banner span, #banner p {
			font-size: 1.1em;
		}

		#banner span {
			padding: 1em 0em;
		}