@import url(normalize.css);

body{
	background-color: #e9eaee;
	font-family: Arial;
}
.cleaner{
	clear:both;
}
img{
	width: 100%;
	height:auto;
}
#main{
	width: 960px;
	margin: auto;
	background-color: #FFF;
	margin-top: 40px;
	padding-bottom: 20px;
	-webkit-border-radius: 15px;
}
nav{
	height: 40px;

}

nav ul{
	list-style: none;
	margin: 0 0 0 25px;
	padding: 0;
}
nav li{
	float: left;
	line-height: 40px;
	margin-right: 10px;
	font-size: .8em;
	color:#999999;
}
nav li a{
	display: block;
	line-height: 40px;
	text-decoration: none;
	font-size: .9em;
	color:#4fadde;
}

#resultadoBusqueda {
     height: 57px;
     background-color: #e9eaee;
     -webkit-border-radius: 8px;
     padding: 10px;
     margin: 5px 20px 10px 20px;
     border:solid 1px #d6d7d9;
}

/*Imagnes*/
ul#redesSociales {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
    
	width: 120px;
	height: 3px;
}

ul#redesSociales li a{
	text-decoration: none;
	width: 120px;
	height: 3px;
	margin: 0px;
	padding: 6px 122px 0 10px;
}
.red-social {

	background-image: url("../img/img_despegar.png");
    background-repeat: no-repeat;
    background-position: 0 -82px;
	
}
ul#logo {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
    margin-right: 60px;
	width: 57px;
	height: 57px;
}

ul#logo li a{
	text-decoration: none;
	width: 57px;
	height: 57px;
	margin: 0px;
	padding: 6px 122px 32px 10px;
}
.sello {

	background-image: url("../img/img_despegar.png");
    background-repeat: no-repeat;
    background-position: 0 -104px;
	
}

ul.hotel li a{
	text-decoration: none;
	width: 80px;
	height: 13px;
	margin: 0px;
	padding: 6px 122px 32px 10px;
}
.star {
	background-image: url("../img/img_despegar.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
}
ul#fotoUsuario{
    margin:10px 10px 0 0;
	padding: 0 15px;
	
}
ul#fotoUsuario li {
    
	margin: 0;
	padding: 0;
}
.bandera{ 
	float: left;
	list-style: none;

	width: 30px;
	height: 40px;
	background-image: url("../img/img_despegar.png");
    background-repeat: no-repeat;
    background-position: 0 -162px;
}
#todasEstrellas{
	float: right;
	list-style: none;
	width: 79px;
	height: 100px;
	margin: 8px 0 0 0;
	padding: 0 12px 0 0;
	background-image: url("../img/estrellas.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
	}

/*ul#todasEstrellas li {
    height: 80px;
	margin: 0;
	padding: 0;
}*/

.estrellas{
	z-index: 10;
	background-image: url("../img/img_despegar.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
}
/*cierra Imagenes*/
#resultadoBusqueda h2 {
	width: 400px;
	font-size: 1.5em;
    color: #003D92;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#resultadoBusqueda p {
	width: 400px;
	font-size: 1em;
    color: #4fadde;
    font-weight: normal;
    margin: 0;
    padding: 0;

}
#busqueda {
	width: 555px;
	float: left;
	 -webkit-border-radius: 8px;
	 background-color: #ffff33;
	margin: 5px 5px 15px 20px;
	padding:0px;
}
#busqueda h2 {
    font-size: 1.1em;
    color: #003D92;
    font-weight: normal;
    margin: 5px;
    padding: 10px;

}
#foto {
	width: 353px;
	margin: 5px;
	padding: 0;
	float: right;
}
#foto figure{
	width: 100%;
	margin: 0;
	margin-left: -15px;
	margin-right: 5px;
	padding: 0;
	
}
#listado{
	width: 635px;
	margin: 0 0 0 20px;
	padding: 0;
	float: left;
}
#listado h2{
	width: 99%;
	font-size: 1.1em;
    color: #003D92;
    background-color: #e9eaee;
     -webkit-border-radius: 8px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0px 10px 7px;
}
#listado h3{
	font-size: 0.8em;
    color: #666;
    font-weight: normal;
    margin: 0;
    padding: 5px 0px 10px 7px;
}
#listado h3 a{
	text-decoration: none;
}
.hoteles{
	width: 100%;
	height: 100%;
	-webkit-border-radius: 5px;
	border:solid 1px #d6d7d9;
	margin: 10px 0 10px 5px;
	padding: 0;
	
}
ul.hotel {
	list-style: none;
	float: left;
	width: 350px;
	margin: 0;
	margin-top: 10px;
	padding: 0;

}
ul.hotel li {
	width: 350px;

	margin: 0;
	padding: 0;
}
ul.hotel li img{
	  width: 95px;
	  height: 95px;
	  float: left;
	  border:solid 1px #d6d7d9;
      margin: 0px 10px 10px 10px;
      padding: 0;

}
ul.hotel li h3{
     font-size: 1em;
     font-weight: normal;
     color:#4fadde;
     margin: 0;
     padding: 0;
}
ul.hotel li p{
     font-size: 0.7em;
     color:#999999;
     margin: 0;
     margin-top: 3px;
     padding: 0;
 }
 ul.hotel li a{
     font-size: 0.7em;
     color:#4fadde;
     text-decoration: none;
     margin: 0;
     padding: 0;
 }
 ul.precio{
 	  float: right;
 	  list-style: none;
 	  width: 150px;
 	  height: 100%;
 	  -webkit-border-radius: 5px;
      margin: 0;
      padding: 0;
      text-align: center;
      background: #ffff33;
      background: -moz-linear-gradient(top,  #ffff33 0%, #fff 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff33), color-stop(100%,#fff)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  #ffff33 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  #ffff33 0%,#fff 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #ffff33 0%,#fff 100%); /* IE10+ */
	  background: linear-gradient(to bottom,  #ffff33 0%,#fff 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff33', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
 }
 ul.precio li span{
 	color: #424242;
 	font-size: 0.7em;
 	margin: 0;
 	padding: 0;
 }
 ul.precio li{
 	margin: 10px 0 0 0;
 	padding: 0;
 }
 ul.precio li p {
 	color: #424242;
 	font-size: 1.4em;
 	font-weight: normal;
 	margin: 5px 0 22px 0;
 	padding: 0;
 }
 ul.precio li a {
 	color: #fff;
 	font-size: 0.8em;
 	-webkit-border-radius: 5px;
 	text-decoration: none;
 	padding: 7px 15px;
 	margin: 10px 0 0 0;
 	background-color: #e0202b;
 	background: -moz-linear-gradient(top,  #e0202b 0%, #660409 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0202b), color-stop(100%,#660409)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0202b 0%,#660409 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0202b 0%,#660409 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0202b 0%,#660409 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0202b 0%,#660409 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0202b', endColorstr='#660409',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:1px 3px 10px #535353;
 }
 ul.comentarios{
 	float: right;
 	list-style: none;
 	margin: 10px 10px 0 0;
 	padding: 0;
 }
 ul.comentarios li span{
 	font-size: 1em;
 	color:#013d93;
 	margin: 0;
 	padding: 0;
 }
  ul.comentarios li p{
 	font-size: 0.8em;
 	color:#013d93;
 	margin: 0;
 	padding: 0;
 }
  ul.comentarios li a{
 	font-size: 0.7em;
 	color:#4fadde;
    text-decoration: none;
 	margin: 0;
 	padding: 0;
 }
 #registro{
 	padding: 0;
 	padding-left: 15px;
 	margin: 0;
 }
 .btn_buscar{
 	float: right;
 	margin: 5px 40px 15px  0;
 	
 }
input[type="submit"] {
	font-size: 0.9em;
	width: 110px;
	height: 40px;
	border:none;
    color: #fff;
 	 -webkit-border-radius: 8px;
 	outline: none;
 	background-color: #033785;
 	background: -moz-linear-gradient(top,  #033785 0%, #01193d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#033785), color-stop(100%,#01193d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #033785 0%,#01193d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #033785 0%,#01193d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #033785 0%,#01193d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #033785 0%,#01193d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#033785', endColorstr='#01193d',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:1px 3px 10px #535353;

 }
 label{
 	font-size: 0.7em;

 }
 input {
    margin: 3px 0;
 	font-size: 0.7em;
 	height: 15px;
 }
 #usuarios {
 	width: 280px;
 	padding: 0;
 	margin: 0px 10px;
 	float: right;
 }
.mapa {
	width: 280px;
	background-color: #e9eaee;
    
	margin: 0;
	padding: 5px 0;
	
}
.mapa h2 {
	font-size: 1.4em;
    color: #003D92;
    font-weight: normal;
    margin: 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 0;
}
.mapa a {
	font-size: 0.7em;
 	color:#4fadde;
 	text-decoration: none;
 	margin: 0;
 	padding: 0 0 0 195px;
 	

}
.mapa iframe {
	margin: 0;
	margin-left: 10px;
	padding: 0;
}
.viajero {
	width: 280px;
	margin: 10px 0 0 0;
	padding: 0px;
}
.viajero p{
	font-size: 0.7em;
    color:#999999;
    background-color: #eff5fe;
    -webkit-border-radius: 8px;
    border:solid 1px #62b6e2;
	margin:0;
	padding: 10px;
}
ul.usuario {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0 0 0 58px;
}
ul.usurio li{
    margin: 0;
    padding: 0;

}
ul.usuario li h3{
	font-size: 0.9em;
	font-weight: normal;
	color:#013d93;
	margin: 0;
	padding: 0;
}
ul.usuario li h4{
 	font-size: 0.7em;
 	font-weight: normal;
 	color:#999999;
 	margin: 0;
 	padding: 0;
 }
 ul.usuario li span{
 	font-size: 0.9em;
 	color:#999999;
 	margin: 0;
 	padding: 0;
 }

 .hotelesStar {
	width: 280px;
	background-color: #e9eaee;
    -webkit-border-radius: 8px;
	margin: 0;
	margin-top: 5px;
	padding: 8px 0;
	
}
.hotelesStar h3 {
	width: 125px;
	font-size: 0.8em;
	font-weight: normal;
    color: #4fadde;
    font-weight: normal;
    margin: 7px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 0;
}
 .otrasBusquedas {
 	width: 270px;
	margin: 0;
	margin-top: 5px;
	padding: 8px 0;
}
.otrasBusquedas h2 {
	font-size: 1.2em;
    color: #003D92;
    font-weight: normal;
    margin: 10px 0;
    padding: 0;
}
.otrasBusquedas p {
	font-size: 0.8em;
	font-weight: normal;
    color: #4fadde;
    font-weight: normal;
    margin: 5px 0;
    padding-bottom: 10px;
    padding: 0;
}
.otrosHoteles {
     background-color: #e9eaee;
     padding: 10px;
     margin: 5px 15px 10px 15px;
     

}
.otrosHoteles h2 {
	font-size: 1.2em;
    color: #003D92;
    font-weight: normal;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
}
ul.lisatHoteles {
	list-style: none;
	float: left;
	width: 172px;
	margin: 0 3px;
	padding: 0 ;
}

ul.lisatHoteles li p {
	font-size: 0.8em;
	font-weight: normal;
    color: #4fadde;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


